/*
body, html {
    height: 100%;
}

header {
    width: 100%;
    padding-top: 10px;
    background-color:#E0EEEE;
    height: 60px;
}

ul.topList {
    margin:0 auto;
    width:850;
    position:relative;
    background-color: #CCFFD9;
}

.center_panel {
    width: 450px;
    height: 320px;
    overflow: auto;
    margin: auto;
    position: absolute;
    left: 0; 
    right: 0;
    padding-top: 15px;
    border-radius: 10px;
}

.center_text {
    text-align: center;
}

.tableHeader {
    font-weight: bold;
}

.left {
    float : left;
    width: 20%;
    position: absolute;
    overflow-y: auto;
    overflow-x: visible;
    height: 600px;
}

.right {
    float: left;
    width: 100%;
    position: relative;
    margin-left: 20%;
}

.clearer {
    clear: both;
}

.friendListItem {
    padding: 2px;
}

#left {
    height: 100%;
}

.logo {
    float:left; 
    padding-left: 50px; 
    font-size: medium; 
    background-color: #E0EEEE;
}

.loginPanel {
    margin-bottom: 0px;
}

.loginPanel .field {
    display: inline-block;
}

.loginPanel .field input {
    width: 200px;
    margin-bottom: 0px;
}

.friendLabel {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.verticalLine {
    border-left: solid thick #333333;
    display: inline-block;
}

.glyphicon {
    display: inline-block;
}

.leftCol {
    width: 20%;
    height: 100%;
    float: left;
}

.rightCol {
    width: 80%;
    height: 80%;
    float: right;
    padding: 0% 5%;
}

.rightColFull {
    width: 90%;
    height: 100%;
    float: right;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 30px;
}

.center_wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.workouts_table {
    background: #D3EDE1;
}

.registration_form {
    background: #d3ede1;
}

.center_text {
    text-align: center;
}
*/
/*.register_feedback {
    height: 115px;
}*/

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: red;
}*/