.remove_ico:hover, li:hover .remove_ico {
    color: red;
}

.remove_ico {
    color: #9C9C9C;
}

a {
    color: #5cb85c;
}

a:hover, a:focus {
    color: #5cb85c;
}

.form-control {
    height: 35px;
    padding: 5px 15px;
}

.friendList li.visited {
    background: #ecf0f1;
}

.friendList li {
    padding: 10px;
    border-radius: 3px;
}

.friendList li:hover {
    font-weight: bold;
}

.white_font {
    color: #ffffff;
}

.navbar {
    min-height: 82px;
}
.center-div-addfriend {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.confirmModalPanel {
    padding: 20px;
}

.center-horizontal {
    margin: 0 auto;
}


.myModalCss > .w_bottom_1 {
    display: none;
}

.myModalCss div.w_content_1 {
    margin-right: 0px;
}

.myModalCss div.w_right_1 {
    margin-left: 0px;
}

.myModalCss div.w_top_1 {
    display: none;
}

.myModalCss a.w_close {
    display: none;
}

.myModalCss div.w_caption {
    display: none;
}

div.wicket-modal div.w_content_2 { 
    padding-top: 0;
}

